        
        <footer class="page-footer">
            <p>
                &copy; Copyrights by <a href="mailto:phuchai1994@gmail.com">Hai Ph. <strong>Nguyen</strong></a>
            </p>
        </footer>
        
        <!-- js -->
        <script src="/js/jquery-3.4.1.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
    </body>
</html>