<html>
    <head>
        <!-- since we tell the app to server "public" already -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <!-- custom css -->
        <link rel="stylesheet" href="/css/custom/main.css">
    </head>
    <body>
    <div class="container">
        <!-- a nav bar -->
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="/">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarNav" aria-controls="navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/feedback">Feedback <span class="sr-only">(current)</span></a>
                    </li>
                    <li>
                        <a class="nav-link" href="/addtask">Add Task</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/searchtask">Search A Task</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/seetask">See All Tasks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>