<!-- header -->
<% include partials/header %>

<!-- login form -->


<form action="/login" method="post" class="container">
    <h1>Sign In</h1>
    <h4>use your registered account</h4>
    <h6><a href="/register">Not a member yet?</a></h6>
    <!-- displays error when registration or login fails -->

    <% if (flashMsg !== null && typeof flashMsg !== "undefined") { %>
        <% if (status !== null) { %>
            <% if (status === false) { %>
                <div class="alert alert-danger alert-dismissible fade show">
                    <%= flashMsg %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            <% } else { %>
                <div class="alert alert-success alert-dismissible fade show">
                    <%= flashMsg %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            <% } %>
        <% } %>
    <% } %>
    <!-- form groups -->
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" name="username" class="form-control" id="">
    </div>
    <div class="form-group">
        <label for="passcode">Passcode:</label>
        <input type="password" name="passcode" class="form-control">
    </div>
    <div class="form-group">
        <input type="submit" value="Login" class="btn btn-primary btn-group-lg">
    </div>
    
</form>

<!-- footer -->
<% include partials/footer %>